<!DOCTYPE HTML>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="maximum-scale=1.0, minimum-scale=1.0, user-scalable=0, initial-scale=1.0, width=device-width" />
	<meta name="format-detection" content="telephone=no, email=no, date=no, address=no">
	<link rel="stylesheet" type="text/css" href="../../css/aui/aui.css" />
	<link rel="stylesheet" href="../../script/vant/index.css">
	<link rel="stylesheet" href="../../css/custom/common.css">
	<link rel="stylesheet" href="../../css/custom/page/ask-list.css">
	<script src="../../script/vue/vue.js"></script>
	<script src="../../script/vant/vant.min.js"></script>
</head>

<body>
	<div id="app" v-cloak class="ask">
		<!-- <section class="dropdown">
			<div class="cell">
				<div class="cell__title">
					<span>界面·好问</span>
				</div>
				<div class="cell__value">
					<img src="../../icon/ico_down.png">
				</div>
			</div>
			<div class="dropdwon-menu"></div>
		</section> -->
		<!-- 下拉刷新组件 -->
		<van-pull-refresh v-model="refreshLoading" @refresh="onRefresh">
			<!-- 好问列表 -->
			<van-list class="list" v-model="infiniteLoading" :finished="infiniteFinished" :immediate-check="false" :offset="50"
			 @load="onLoad">
				<div v-for="(el, i) in list" :key="i" class="ask__panel hairline" @click="toAskDetail(el.id)">
					<div class="ask__thumb">
						<!-- <img :src="el.cover"> -->
						<v-img :url="el.cover" err="../../image/default.png"></v-img>
						<div>{{ el.time_title }}</div>
					</div>
					<div class="ask__info">
						<div class="cell">
							<div class="cell__title">
								<div class="ask__avatar">
									<!-- <img :src="el.author.avatar ? el.author.avatar : '../../image/avatar.png'"> -->
									<v-img :url="el.author.avatar" err="../../image/avatar.png"></v-img>
								</div>
								<div class="ask__nickname gray">{{ el.author.user_name }}</div>
							</div>
						</div>
						<div class="ask__title dark">{{ el.title }}</div>
					</div>
				</div>
				<!-- 占位，优化上滑loading时的过渡 -->
				<div style="height: 50px" v-show="!infiniteLoading && !infiniteFinished"></div>
				<!-- END -->
				<div v-if="infiniteFinished" class="load-more">-- 没有更多 --</div>
			</van-list>
			<!-- END -->
		</van-pull-refresh>
		<!-- END -->
	</div>
</body>
<script type="text/javascript" src="../../script/api.js"></script>
<script src="../../script/vue/components.js"></script>
<script src="../../script/ajax.js"></script>
<script type="text/javascript">
	function _toConsumableArray(arr) {
		if (Array.isArray(arr)) {
			for (var i = 0, arr2 = Array(arr.length); i < arr.length; i++) {
				arr2[i] = arr[i];
			}
			return arr2;
		} else {
			return Array.from(arr);
		}
	}

	var data = {
		list: [],
		page: 1,
		pageCount: 10,
		refreshLoading: false,
		infiniteLoading: false,
		infiniteFinished: false
	};

	var vm = new Vue({
		el: '#app',
		data: data,
		methods: {
			fetchData: function fetchData() {
				var _this = this;

				$ajax_post('appask/ask_list', {
					page: this.page,
					page_count: this.pageCount
				}, function (res) {
					if (_this.page === 1) {
						_this.list = [].concat(_toConsumableArray(res.ask_list));

						_this.refreshLoading = false; // 关闭下拉刷新效果
					} else {
						res.ask_list.forEach(function (el) {
							_this.list.push(el);
						});

						_this.infiniteLoading = false; // 控制加载结束
						if (res.bottom_key) _this.infiniteFinished = true; // 已是最后一页
					}
				}, {
					hideLoading: true
				});
			},
			init: function init() {
				this.refreshLoading = true; // 开启下拉刷新效果
				this.fetchData();
			},
			onRefresh: function onRefresh() {
				// 刷新所有数据
				this.page = 1;
				this.fetchData();
			},
			onLoad: function onLoad() {
				// 根据页码获取数据
				this.page++;
				this.fetchData();
			},
			toAskDetail: function toAskDetail(id) {
				console.log(id);
				api.openWin({
					name: 'ask_detail_win',
					url: '../ask_detail/ask_detail_win.html',
					bounces: false,
					pageParam: {
						id: id
					}
				});
			}
		}
	});

	apiready = function apiready() {
		vm.init();
		$api.css(document.querySelector('.van-pull-refresh'), 'min-height: ' + api.frameHeight + 'px');
	};
</script>

</html>